spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/playmatch
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  flyway:
    enabled: false

security:
  jwt:
    secret: "01234567890123456789012345678901"
    expiration-seconds: 7200

#logging:
#  pattern:
#    console: '{"timestamp":"%d{ISO8601}","level":"%5p","logger":"%c{1}","trace":"%X{traceId}","span":"%X{spanId}","message":"%m"}%n'

management:
  endpoints:
    web:
      exposure:
        include: health,info
  tracing:
    enabled: true
    sampling:
      probability: 1.0

# Telemetry toggle (disabled by default to simplify local run)
otel:
  enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui
