spring:
  datasource:
    url: jdbc:h2:mem:playmatch;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false

  h2:
    console:
      enabled: true

logging:
  pattern:
    console: '{"timestamp":"%d{ISO8601}","level":"%5p","logger":"%c{1}","trace":"%X{traceId}","span":"%X{spanId}","message":"%m"}%n'

otel:
  enabled: false

springdoc:
  swagger-ui:
    path: /swagger-ui

