spring:
  datasource:
    url: jdbc:h2:mem:playmatch;DB_CLOSE_DELAY=-1;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false

security:
  jwt:
    secret: "01234567890123456789012345678901"
    expiration-seconds: 7200

logging:
  pattern:
    console: '{"timestamp":"%d{ISO8601}","level":"%5p","logger":"%c{1}","trace":"%X{traceId}","span":"%X{spanId}","message":"%m"}%n'

management:
  endpoints:
    web:
      exposure:
        include: health,info
  tracing:
    enabled: false

otel:
  enabled: false

springdoc:
  swagger-ui:
    path: /swagger-ui

